*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container{
    border: 2px solid black;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40rem;
    
    box-shadow: 0 0 10px black;
}
.heading{
    margin: 1rem;
}
p{
    margin: 1rem;
}
.btn{
    margin: 1rem;
}
button{
    margin: 0 .5rem;
    width: 6rem;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(216, 173, 160);
}
p{
    font-size: 50px;
    font-weight: 900;

}