*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}


body{
    background-image: url(https://images.unsplash.com/photo-1682687220742-aba13b6e50ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    
}
h2{
    border: 2px solid white;
    border-radius: 5px;
    padding: 4px;
    color: white;
        background-color: black;
    margin: 1.5rem;
}
div.inner{
    width: 30rem;
 border: 2px solid black;
    border-radius: 5px;
    background-color:white ;
}
div.quote{
    padding: 1rem;
}
div.author{
    padding: 1rem;text-transform: uppercase;
    letter-spacing: 1px;
    color: red;

}
div.btn{
    padding: 1rem;
}

button#new-quote{
    padding: 0.5rem;
    background-color: black;
    color: white;
    border-radius: 5px;
}















